* {
   margin: 0;
   padding: 0;
   font-family: 微軟正黑體;
}

#card{
    background-image: url(https://images.unsplash.com/photo-1563260468-7628d02272d1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80) ;
width: 600px;
margin: 100px auto 0 ;
padding:200px 50px 50px ;
box-shadow: 20px 20px 15px rgba(30, 10, 50, 0.3);
transition: 0.5s;
}

#card:hover{
  transform: scale(1.2)
}

#content {
    background-color: rgba(30, 40, 57, 0.8);
    color: #ffffff;
    padding: 30px 20px ;
}



h1{
    font-size: 40px;
     margin-bottom: 10px;
   }
   
   h2{
     font-size: 20px;
     margin-bottom: 30px;
   }
   
   ul{
     font-size: 15px;
     margin-bottom: 10px;
     line-height: 2;
   }

footer{
  color: #FFF;
    font-size: 40px;
    text-transform: uppercase;
    margin: 60px;
    text-align: center;
    letter-spacing: 30px;
    padding-left: 30px;
    opacity: 0.1;
    font-weight: 800;

}

body {
  background-color: rgb(30, 28, 34);
}