* {
   margin: 0;
   padding: 0;
   font-family: 微軟正黑體;
}

#card{
    background-image: url(https://images.unsplash.com/photo-1606741633236-61105e39c6e0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80) ;
width: 600px;
margin: 100px auto 0 ;
padding:200px 50px 50px ;

}

#content {
    background-color: rgba(255, 255, 255, 0.568);
    color: rgb(32, 95, 95);
    padding: 30px 20px ;
}

h1{
    font-size: 40px;
     margin-bottom: 10px;
   }
   
   h2{
     font-size: 30px;
     margin-bottom: 10px;
   }
   
   ul{
     font-size: 18px;
     margin-bottom: 10px;
   }

footer{
    font-size: 80px;
    margin: 60px;
    text-align: center;
    letter-spacing: 50px;
    padding-left: 50px;
    opacity: 0.1;
    font-weight: 800;

}

